<!--
  In template-driven approach, Angular creates the model, FormGroups and FormControls, for us via directives we add to the template.
  Template-Driven Forms are just Model-Driven Forms but driven by directives in the template, versus code in the component.
  In template-driven, we use directives to create the model.
  In model-driven, we create a model in the component, and then use directives to map elements in the template to our form model.
-->

<app-nav-home></app-nav-home>

<form #f="ngForm" style="width: 50%; padding: 10px;">

  <button type="submit" class="btn btn-primary" (click)="OnSubmit()" [disabled]="f.invalid">Submit</button>
  <p>
    {{ onSubmitText }}
  </p>

  <pre>First Name: {{ firstName.value }}</pre>
  <pre>Last Name: {{ lastName.value }}</pre>
  <pre>Email: {{ email.value }}</pre>
  <pre>Password: {{ password.value }}</pre>
  <pre>Language: {{ language.value }}</pre>

  <fieldset ngModelGroup="name">
    <!-- FIRST NAME -->
    <div class="form-group">
      <label>First Name: </label>
      <input type="text"
             class="form-control"
             name="firstName"
             [(ngModel)]="model.firstName"
             #firstName="ngModel"
             required>
    </div>
    <!-- LAST NAME -->
    <div class="form-group">
      <label>Last Name:</label>
      <input type="text"
             class="form-control"
             name="lastName"
             [(ngModel)]="model.lastName"
             #lastName="ngModel">
    </div>
  </fieldset>

  <!-- EMAIL -->
  <div class="form-group">
    <label>Email:</label>
    <input type="text"
           class="form-control"
           name="email"
           [(ngModel)]="model.email"
           #email="ngModel"
           required>
  </div>

  <!-- PASSWORD -->
  <div class="form-group">
    <label>Password: </label>
    <input type="text"
           class="form-control"
           name="password"
           [(ngModel)]="model.password"
           #password="ngModel"
           required
           minlength="5">
  </div>

  <!-- LANGUAGE -->
  <div class="form-group">
    <label>Language: </label>
    <select class="form-control"
            name="language"
            [(ngModel)]="model.language"
            #language="ngModel">
      <option value="">Please select a language</option>
      <option *ngFor="let language of langs" [value]="language">{{ language }}</option>
    </select>
  </div>
</form>
