<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

  <br />
  <app-joke-form (jokeCreated)='addJoke($event)'></app-joke-form>

  <br />
  <p>Number of elements in jokes: {{ jokes.length }}</p>
  <app-joke *ngFor='let j of jokes' [data]='j'>
    <h3 class="userID">{{ j.UserID }}</h3>
    <h4 class="username">{{ j.Username }}</h4>
  </app-joke>

  <br />
  <p>A new joke where OnInit is used</p>
  <app-joke></app-joke>

  <br />
  <div>This is calling the new Person class

  <p>The person's name is: {{ name }}</p>
  <p>The lesson this person is learning is {{ lesson }}</p>
  <br />
  <p>The current task is {{ currentTask }}</p>
  <p>To-do task: {{ todoTask }}</p>
  <p>Completed task: {{ completedTask }}</p>

  <app-header></app-header>
</div>
